<!DOCTYPE html>
<html>

<head>
    <title>Audio</title>
    <meta charset="UTF-8" />
</head>

<body>
    <header>
        <div class="center">
            <h2>
                WEB322 - Assignment 3
            </h2>
        </div>
    </header>
    <nav>
        <div class="center">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="list.html">List</a></li>
                <li><a href="table.html">Table</a></li>
                <li><a href="audio.html">Audio</a></li>
                <li><a href="video.html">Video</a></li>

            </ul>
        </div>
    </nav>

    <section class="main center">

        <!-- Start your code here -->
        <h2>HTML5 Audio</h2>
        <h3>Audio Bar</h3>

        <audio controls>
<source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3">
<source src = "https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg">
        </audio>

        <p> Page Description: This page contains one audio player which has two audio sources. </p>
    </section>


    <footer>
        <div class="center">
            &copy; 2022 Qing Zhang
        </div>
    </footer>
</body>

</html>