<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="UTF-8" />
    <script src="../server.js"></script>

</head>

<body>

    <header>
        <div class="center">
            <h2>
                WEB322 - Assignment 3
            </h2>
        </div>
    </header>
    <nav>
        <div class="center">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="list.html">List</a></li>
                <li><a href="table.html">Table</a></li>
                <li><a href="audio.html">Audio</a></li>
                <li><a href="video.html">Video</a></li>

            </ul>
        </div>
    </nav>

    <section class="main center">

        <h1>Assignment 3 Home</h1>
        <!-- Professional Greeting -->
        <hr>
        <blockquote><em>Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express</em></blockquote>
        <hr>

        <h2>Reflection</h2>
        <p>In this course, the first topic I learned was HTTP messages such as GET, POST. I learned the node.js as well as the express module. <br> I learned that the node.js is a JavaScript runtime enveironment and it is very useful for us to develop the
            application because it has many modules encapsulated. <br>For example, with the exress module, we can set up route to listen on particular path and respond to the client.<br> I also learned how to create modules. I learned the promise object
            which allows me to get the results of asynchronous operations.
        </p>

        <h2>HTML5 Introduction</h2>
        <p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web</p>


    </section>
    <footer>
        <div class="center">
            &copy; 2022 Qing Zhang
        </div>
    </footer>
</body>

</html>